@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --background-color-30per: #2a2c39;
    --accent-color: #ef6603;
    --background-color: #ffffff;
    --nav-dropdown-color: #060606;
    --max-width: 1350px;
    --font-family: 'Roboto', sans-serif;
    --font-color:#ffffff;
    --font-color30per: #2a2c39;
    --bs-cyan: #0dcaf0;
    --bs-pink: #d63384;
    --bs-indigo: #6610f2;
    --bs-teal: #20c997;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
}

body{
    font-family: var(--font-family);
    overflow: auto;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.header-container{
    margin-bottom: 4rem;

}

img {
    display: flex;
    width: 100%;
}

ul{
    list-style: none;
}
                                                                /* HEAD */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 10px 0;
    transition: all .3s ease-in-out;
}

.header.scrolled{
    background-color: rgba(0, 0, 0, 0.30);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo h1 a{
    color: var(--font-color);
    font-weight: 500;
}

.header .menu ul {
    list-style: none;
}


.header .menu > ul > li {
    display: inline-block;
}

.header .menu > ul > li:not(:last-child){
    margin-right: 5px;
}

.header .menu > ul > .dropdown > a > span {
    margin-left: .5rem;
}

.header .menu > ul > li > a{
    padding: 0.3rem 1.5rem;
    margin-bottom: 2px;
    font-size: .9rem;
}


.header .menu a {
    color: var(--font-color);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    border-radius: 50px;
    display: block;
    line-height: 1.5;
    transition: all 0.5s ease;
}

.menu ul li a.active {
    background-color: var(--accent-color);
}

.header .menu .dropdown{
    position: relative;
}

.header .menu > ul > li > a:hover{
    background-color: var(--accent-color);
}

.header .menu i {
    color: var(--font-color);
    font-size: 13px;
    position: absolute;
    user-select: none;
    pointer-events: none;
    top: calc(50% - 5px);
}


.header .menu .sub-menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 190px;
    padding: 15px 0;
    background-color: var(--background-color);
    border-radius: 8px;
    opacity: 0;
    transform: translateY(10%);
    transform-origin: bottom;
    visibility: hidden;
    z-index: 15
}

.header .menu .sub-menu-left{
    top: 0;
    left: auto;
    right: 100%;
}

.header .menu li:hover > .sub-menu {
    opacity: 1;
    transform: none;
    visibility: visible;
    transition: all 0.1s ease;
}


.header .menu .sub-menu a{
    color: black;
    padding: 6px 24px;
}

.header .menu .sub-menu a:hover{
    color: var(--accent-color);
}

.header .menu .sub-menu a i{
    color: black;
    right: 24px;
    transform: rotate(-90deg);
}

.header .container .close-menu-btn{
    display: none;
}

.burger-menu{
    display: none;
}

                                                    /* PORTFOLIO */
.portfolio{
    padding-block: 4rem;
}

.grid-portfolio-header{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.grid-portfolio-header h3{
    padding: .4rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.grid-portfolio-header h3:hover{
    background-color: var(--accent-color);
    color: var(--font-color);
}

.portfolio-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.portfolio-item{
    position: relative;
}

.portfolio-description{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.80);
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}

.portfolio-img:hover .portfolio-description{
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.portfolio-description div h3{
    margin-bottom: .8rem;
    color:var(--font-color30per);
    font-weight: 400;
}

.port-des-icons span{
    margin-right: 0.5rem;
}

.port-des-icons span i{
    font-size: 1.5rem;
    color: var(--font-color30per);
    cursor: pointer;
    transition: all 0.3s ease;
}

.port-des-icons span i:hover{
    color: var(--accent-color);
}

                                                /* BODY */

/* HERO */

.hero-logo{
    background: linear-gradient(0deg, var(--background-color-30per) 0%, 
    color-mix(in srgb, var(--background-color-30per) 90%, white 10%) 100%);
    min-height: 80vh;
    width: 100%;
    display: inline-flex;
}

.hero-logo .hero-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.hero-root-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    overflow-x: hidden;
    z-index: 1;
    overflow: hidden;
  }
  
  .hero-root-container {
    position: relative;
    text-align: center;
    color: #fff;
  }
  
  .swiper-container {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
  }
  
  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
  }
  
  .hero-swiper-slider h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: bold;
    color: #fff;
  }
  
  .hero-swiper-slider h1 span{
    text-decoration: underline;
  }

  .hero-swiper-slider p {
    font-size: .9em;
    line-height: 1.6;
    color: var(--font-color);
    max-width: 700px;
    margin-bottom: 2rem;
  }
  
  .cta-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    border: 2px solid #ff7d3e;
    text-decoration: none;
    font-size: .9rem;
    border-radius: 50px;
    color: var(--font-color);
    transition: background-color 0.3s, color 0.3s;
  }
  
  .cta-btn:hover {
    background-color: #ff7d3e;
    color: #fff;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: gray !important;
    transform: scale(.9);
    z-index: 5;
  }


                                                                * ABOUT */

.about-container{
    padding: 4rem 0;
}

.header-title{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
}

.header-title::after{
    content: '';
    width:150px;
    height:1px;
    background-color: var(--accent-color);
    display: inline-block;
    margin: 4px 5px;
}

.header-description{
    font-size: 2.2rem;
    font-weight: 500;
    color:var(--font-color30per);
}

.about-grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.about-grid-title{
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.about-grid p{
    margin-bottom: 1rem;
}

.about-grid p i{
    margin-right: .8rem;
    font-size: 1.2rem;
    color: var(--accent-color);
}

.about-grid a{
    padding: .8rem 3rem;
    background-color: var(--accent-color);
    color: var(--font-color);
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.about-readmore-btn:hover{
    opacity: 0.8;
}

.about-grid a i{
    font-size: 13px;
    transform: translateX(10px);
    transition: all 0.2s ease-in-out;
}

.about-grid a:hover i{
    transform: translateX(13px);

}

                                                                /* ABOUT-FEATURES */

.feature-container{
    padding: 3rem 0;
}

.about-features-container{
    margin-bottom: 2rem;
}

.feature-head-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.feature-grid{
    padding: 1.5rem .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

.feature-grid:not(:first-child):hover{
    border: 1px solid var(--accent-color);
}

.feature-grid:first-child{
    background-color: var(--accent-color);
    color: var(--font-color);
    border: none;
}

.feater-head-title{
    font-size: 1.2rem;
    font-weight: 400;
}

.feature-grid i{
    margin: 0 1rem;
    font-size: 3rem;
    transition: all 0.3s ease;
}

.feature-grid:not(:first-child):hover i {
    color: var(--accent-color);
}

.body-feature-grid{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.featuresbody-img img{
    width: 550px;
    object-fit: cover;
    object-position: center;
}

.featuresbody-grid h1{
    color: var(--font-color30per);
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 1rem;
}

.feature-description{
    line-height: 1.5;
    margin-bottom: 1rem;
    font-style: italic;
}

.feature-icon-check{
    margin-bottom: 1rem;
    line-height: 1.5;
}

.feature-icon-check i{
    margin: 0 1rem 0 0;
    color: var(--accent-color);
    font-size: 1.2rem;
}

.features-lastdes{
    line-height: 1.5;
}

                                                                /* ABOUT FOOTER */

.about-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-30per);
}

.about-footer-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 6rem 1rem;
    max-width: var(--max-width);
}

.about-footer-left h1{
    color: var(--font-color);
    font-size: 1.8rem;
    line-height: 1.5;
}

.about-footer-left p {
    color: var(--font-color);
    font-size: 1rem;
    line-height: 1.5;
}

.about-footer-right{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.about-footer-right a{
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    border: none;
    color: var(--font-color);
    font-size: 1.1rem;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-footer-right a:hover{
    opacity: 0.8;
}

                                                      /* ABOUT NEXT PAGE */

.about-details-grid-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr) 400px;
    gap: 2rem;
  }
  
  .about-details-container{
    padding: 4rem 0;
  }
  
  .about-details-grid-left .about-details-leftside{
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    padding: 2rem;
  }
  
  .about-details-blog-img{
    max-height: 600px;
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .about-title-head{
    font-size: 2rem;
    line-height: 1.5;
    color: var(--font-color30per);
    margin-bottom: 1rem;
  }
  
  .about-title-head:not(:first-child){
    font-size: 1.5rem;
    font-family: 500;
    margin-bottom: .3rem;
  }
  
  .about-details-grid-left .about-details-leftside p{
    line-height: 1.5;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: .9rem;
  }
  
  .about-details-grid-left .about-details-leftside p:nth-child(12){
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    line-height: 3;
  }
  
  .about-details-grid-left .about-details-leftside ul{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .about-details-grid-left .about-details-leftside ul:not(:first-child) {
    gap: .5rem;
  }
  
  .push-right{
    margin-right: .7rem;
  }
  
  .about-details-grid-left .about-details-leftside ul a{
    color: rgba(0, 0, 0, 0.40);
    transition: all 0.3s ease;
  }
  
  .about-details-grid-left .about-details-leftside ul a:hover{
    color: var(--accent-color);
  }
  
  .about-details-grid-left .about-details-leftside ul li{
    color: rgba(0, 0, 0, 0.40);
    font-weight: 500;
    cursor: pointer;
    font-weight: 400;
  }
  
  .about-details-grid-left .about-details-leftside ul li span{
    margin-left: .5rem;
  }
  
  .about-details-grid-left .about-details-leftside ul li i{
    margin-right: .5rem;
  }
  
  .about-details-left-underline{
    min-height: 180px;
    background-color: rgb(255, 251, 244);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .about-details-left-underline h1{
    line-height: 1.5;
    width: 100%;
    padding: 1.5rem 3rem;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--font-color30per);
    border-left: 3px solid var(--accent-color);
  }
  
  .about-comments-head{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 2rem 0;
  }
  
  .about-comments-head h1{
    font-size: 1.6rem;
    color: var(--font-color30per);
  }
  
  .about-comment-body img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    object-position: center;
  }
  
  .about-comment-body{
    display: inline-flex;
    gap: 1rem;
    margin-bottom: 3rem;
  }
  
  .about-comment-body:nth-child(4),
  .about-comment-body:nth-child(5){
    padding-left: 6rem;
  }
  
  
  .about-comment-author-container h5 a{
    color: var(--font-color30per);
    font-size: 1.2rem;
    line-height: 1;
    transition: all 0.3s ease;
  }
  
  .about-comment-author-container h5 a:hover{
    color: var(--accent-color);
  }
  
  .about-comment-author-container h5 a:last-child{
    color: rgba(0, 0, 0, 0.50);
    font-size: 1rem;
  }
  
  .about-comment-author-container h5 a:last-child:hover{
    color: var(--accent-color);
  }
  
  .about-comment-author-container h5 a i{
    margin: 0 .5rem 0 1rem;
    font-size: .9rem;
  }
  
  
  .about-comment-author-container time {
    line-height: 2;
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.40);
    font-weight: 500;
  }
  
  .about-comment-author-container p{
    line-height: 1.5;
  }
  
  .about-details-comments{
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    padding: 2em;
  }
  
  .about-detail-comsection h1{
    color: var(--font-color30per);
    font-size: 1.5rem;
    margin-bottom: .5rem;
  }
  
  .about-detail-comsection p {
    margin-bottom: 0.5rem;
    font-size: .9rem;
    color: var(--font-color30per);
  }
  
  .about-details-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .about-details-btn a {
    background-color: var(--accent-color);
    color: var(--font-color);
    padding: .8rem 1.5rem;
    border-radius: 7px;
    transition: all .3s ease;
  }
  
  .about-details-btn a:hover {
    opacity: 0.8;
  }
  
  .about-right-color{
    background-color: rgb(252, 251, 251);
    border:1px solid rgba(0, 0, 0, 0.10);
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 5px;
  }
  
  .details-title-head{
    color: var(--font-color30per);
    font-weight: 400;
    margin-bottom: 1rem;
    padding-left: .8rem;
    border-left: 4px solid var(--accent-color);
    font-size: 1.3rem;
  }
  
  .details-info-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .about-details-author-info img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: contain;
    object-position: center;
    margin-bottom: 1rem;
  }
  
  .about-details-author-info h1{
    color: rgba(0, 0, 0, 0.70);
    font-weight: 500;
    margin-bottom: .5rem;
  }
  
  .about-details-author-info ul {
    display: flex;
    gap: 1rem;
    margin-bottom: .5rem;
  }
  
  .about-details-author-info ul li i{
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .50);
    cursor: pointer;
    transition: all .3s ease;
  }
  
  .about-details-author-info ul li i:hover{
    color: var(--accent-color);
  }
  
  .about-details-author-info p{
    font-style: italic;
    line-height: 1.5;
    color: rgb(119, 119, 119);
    font-size: .9rem;
  }
  
  .details-search-icon{
    display: flex;
    position: relative;
  }
  
  .details-search-icon input {
    width: 100%;
    padding: .7rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.20);
    outline: none;
    border-radius: 50px;
  }
  
  .details-search-icon input:focus{
    border: 1px solid var(--accent-color);
    outline: none;
  }
  
  .details-search-icon i{
    position: absolute;
    right: 20px;
    top: 10px;
  }
  
  .details-search-icon i {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.70);
  }
  
  .about-categories ul li{
    margin-bottom: .8rem;
    cursor: pointer;
    transition: all .3s ease;
  }
  
  .about-categories ul li:hover{
    color: var(--accent-color);
  }
  
  .about-categories ul li span{
    margin-left: 1rem;
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.50);
  }
  
  .about-recentpost h2{
    font-size: 1.1rem;
    margin-bottom: .5rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .about-recentpost h2:hover{
    color: var(--accent-color);
  }
  
  .about-recentpost time{
    display: inline-block;
    margin-bottom: 1.1rem;
    font-size: .9rem;
    font-style: italic;
    color: rgba(0, 0, 0, 0.50);
  }
  
  .about-tag ul{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .about-tag ul li a{
    background-color: rgba(0, 0, 0, 0.10);
    padding: .3rem 1rem;
    border-radius: 40px;
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.60);
    transition: all 0.3s ease;
  }
  
  .about-tag ul li a:hover{
    background-color: var(--accent-color);
    color: var(--font-color);
  }
  
  @media (max-width: 1400px){
    .about-details-grid-container{
      grid-template-columns: repeat(1, 1fr) 300px;
    }
  }
  
  @media (max-width: 997px){
    .about-details-grid-container{
      grid-template-columns: repeat(1, 1fr);
    }
  }

                                                                /* SERVICES */

.service-container{
    padding:4rem 0;
}

.services-grid{
    padding: 60px 30px 60px 70px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    position: relative;
    overflow: hidden;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in;
    transform: translateY(0);
}

.services-grid:hover{
    transform: translateY(-10px);
}

.services-grid:hover h1{
    color: var(--accent-color);
}

.services-grid a {
    color: var(--font-color30per);
}

.services-grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 1rem 0;
}

.services-grid h1 {
    color: var(--font-color30per);
    font-weight: 500;
    margin-bottom: .5rem;
    transition: all 0.3s ease;
}

.services-grid p {
    font-size: 0.9rem;
    line-height: 1.5;
}

.service-icon{
    position: absolute;
    left: -20px;
    top: calc(50% - 30px);
    font-size: 4rem;
    color: var(--bs-cyan) ;
}

.services-grid:nth-child(2) .service-icon{
    color: var(--accent-color);
}

.services-grid:nth-child(3) .service-icon{
    color: var(--bs-teal);
}

.services-grid:nth-child(4) .service-icon{
    color: var(--bs-pink);
}

.services-grid:nth-child(5) .service-icon{
    color: var(--bs-indigo);
}

.services-grid:nth-child(6) .service-icon{
    color: #d63384;
}



.services-hero{
    background-color: var(--background-color-30per);
    height: 43vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--font-color);
}

.services-hero-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5rem;
}

.services-hero-header{
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.services-hero-des{
    margin-bottom: 1rem;
}

.services-home-ser-container{
    display: flex;
    align-self: center;
    gap: 2rem;
}

.services-hero-home{
    color: var(--accent-color);
    position: relative;
    transition: all 0.3s ease;
}

.services-hero-home:hover{
    opacity: .8;
}

.services-hero-home::after{
    content: '';
    width: 20px;
    height: 2px;
    background-color: rgba(209, 209, 209, 0.5);
    position: absolute;
    top: 9px;
    right: -25px;
}

.services-hero-home::after{
    transform: rotate(-60deg);
}

.services-details-container{
    padding: 4rem 0;
}

.ser-bgcolor{
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.ser-details-left,
.ser-details-right{
    padding: 0 1rem;
}

.ser-list,
.dl-catalog{
    margin-bottom: 2rem;
}

.ser-list h1,
.dl-catalog h1{
    color: var(--font-color30per);
    font-size: 1.3rem;
    font-weight: 450;
    border-bottom: 2px solid rgba(0, 0, 0, 0.20);
    padding: 0 0 .8rem 0 ;
    margin-bottom: 1rem;
}

.ser-list ul li{
    padding: .8rem;
    color: var(--font-color);
    background-color: rgba(253, 246, 243, 0.6);
    color: var(--font-color30per);
    font-weight: 400;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.ser-list ul li:first-child{
    background-color: var(--accent-color);
    color: var(--font-color);
 }

 .ser-list ul li:first-child:hover{
    background-color: var(--font-color);
    color: var(--accent-color);
 }


.ser-list ul li:not(:first-child):hover{
    background-color: rgba(253, 235, 228, 0.6);
    color: var(--accent-color);
}

.ser-list ul li span{
    font-size: .7rem;
    height: 15px;
    width: 15px;
    border: 1px solid var(--accent-color);
    border-radius: 50px;
    margin-right: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.ser-list ul li:first-child span{
    border: 1px solid var(--font-color);
}

.ser-list ul li:first-child:hover span{
    border: 1px solid var(--accent-color);
}

.ser-list ul li span i{
    font-size: .6rem;
    color: var(--accent-color);
}

.ser-list ul li:first-child i{
    color: var(--font-color);
}

.ser-list ul li:first-child:hover i{
    color: var(--accent-color);
}

.dl-catalog ul li{
    padding: 1rem;
    border-bottom: 2px solid rgba(189, 189, 189, 0.35);
    color: var(--font-color30per);
    transition: all 0.3s ease;
    cursor: pointer;
}

.dl-catalog ul li:hover{
    color: var(--accent-color);
}

.dl-catalog ul li i{
    color: var(--accent-color);
    margin-right: .8rem;
    font-size: 1.5rem;
}

.have-a-question{
    background-color: var(--accent-color);
    color: var(--font-color);
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fa-headphones{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.have-a-question h1{
    font-weight: 400;
    margin-bottom: 1rem;
}

.have-a-question div{
    display: flex;
    align-items: start;
    flex-direction: column;
}

.have-a-question p i{
    margin: 0 .5rem;
}
.have-a-question p{
    margin-bottom: .5rem;
}

.services-details-container{
    display: grid;
    grid-template-columns: repeat(1, 400px) 1fr;
    gap: 2rem;
}

.right-img-container img{
    max-width: 100%;
    margin-bottom: 1rem;
}

.ser-details-right article h1 {
    font-size: 1.7rem;
    line-height: 1.2;
    color: var(--font-color30per);
    margin-bottom: 1.5rem;
}

.ser-details-right article p{
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 1rem;
}

.ser-details-right article p i{
    color: var(--accent-color);
    margin-right: .6rem;
    font-size: 1.2rem;
}

                                                                /* TESTIMONIAL */

.tes-container{
    padding-block: 4rem;
}

.card-content{
    padding-block: 2rem;
    padding-inline: 1rem;
}

.grid-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.card-article{
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem;
}

.card-article img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.card-article h3{
    color: var(--font-color30per);
    font-weight: 450;
    font-size: 1.2rem;
    margin-bottom: .2rem;
}

.card-article h4{
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.60);
    margin-bottom: .6rem;
    font-weight: 400;
}

.card-article ul {
    display: flex;
    align-items: center;
    gap: .2rem;
    margin-bottom: 1rem;
}

.card-article ul li i {
    font-size: .9rem;
    color: rgb(250, 154, 45);
}

.card-article p{
    font-weight: 400;
    font-size: .9rem;
    font-style: italic;
    color: rgba(0, 0, 0, 0.90);
}

.card-article p i{
    font-size: 1.2rem;
    color: rgb(250, 154, 45);
}

.swiper-pagination-bullet-active {
    background-color: rgb(208, 208, 221); /* or any color you prefer */
}

.swiper-pagination-bullet {
    background-color: red;
}

                                                                    /* PRICE */

.pricing-contianer{
    padding: 4rem 0;
}

.pricing-grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.pricing-grid{
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
}

.pricing-middle-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.price-description{
    font-weight: 500;
    color: var(--font-color30per);
    padding:1.5rem 0;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 1.3rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.pricing-grid:nth-child(2) h4{
    background-color: var(--accent-color);
    color: var(--font-color);
}

.pricing-ammount{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 1rem;
}

.pricing-ammount i {
    position: absolute;
    top: -5px;
    left: -12px;
    font-size: 1.4rem;
}

.pricing-ammount span{
    font-size: 2.5rem;
    font-weight: 500;
    margin-right: .3rem;
}

.pricing-ammount p{
    color: rgba(0, 0, 0, 0.2);
    padding-top: 7px;
}

.pricing-middle-container ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
}

.pricing-middle-container ul li {
    font-size: 15px;
}

.line-through{
    position: relative;
    color: rgba(0, 0, 0, 0.50);
}

.line-through::after{
    width: 100%;
    height: 1px;
    background-color: var(--background-color-30per);
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
}

.line-text-color{
    color: rgba(0, 0, 0, 0.2);
}

.price-footer-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:1rem 0;
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.price-btn{
    padding: .7rem 2.5rem;
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    color: var(--font-color);
    cursor: pointer;
}

.pricing-grid-position{
    position: relative;
    overflow: hidden;
}

.advanced{
    position: absolute;
    background-color: var(--accent-color);
    width: 180px;
    color: var(--font-color);
    font-weight: 400;
    font-size: .9rem;
    padding: .2rem 0;
    text-align: center;
    right: -50px;
    top: 25px;
    transform: rotate(45deg);
   
}

/* Frequently Asked Questions */

.frequently-container{
    padding: 4rem 0;
}

.accordion-toggle{
    display: none;
}

.accordion-design{
    padding: 1rem 1rem;
    background-color:rgba(255, 241, 223, 0.2);
    color: var(--font-color30per);
    width: 100%;
    display: block;
    cursor: pointer;
}

.accordion-design i {
    margin: 0 .5rem;
    transition: all 0.3s ease-in;
}

.accordion-body{
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.accordion-body p{
    padding: 1rem;
    line-height: 1.5;
}

.accordion-toggle:checked ~ .accordion-collaps .accordion-body{
    max-height: 300px;
}

.accordion-toggle:checked + .accordion-design i{
    transform: rotate(180deg);
}

                                                            /* TEAM */

.team{
    padding-block: 4rem;
}


.team-grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.team-grid{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.team-info{
    padding: 1rem;
}

.team-info h2{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: start;
    margin-bottom: .3rem;
}

.team-info h3{
    font-weight: 400;
    font-size: .9rem;
}

.team-img img{
    margin-bottom: .8rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.team-img {
    position: relative;
}

.team-img:hover .team-img-icon{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.team-img-icon li{
    background-color: gray;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.team-img-icon li:hover{
    background-color: var(--accent-color);
}

.team-img-icon li:hover i {
    color: var(--font-color);
}

.team-img-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    bottom: 24px;
    left: 0;
    width: 100%;
    transition: all 0.5s ease;
}

.team-img-icon li i {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.80);
    transition: all 0.3s ease;
}


                                                                        /* Recent Posts */

.recent-grid-container article{
    background: var(--surface-color);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.recent-post{
    padding: 1rem;
}

.recent-img{
    max-height: 270px;
    margin: -30px -30px 15px -30px;
    overflow: hidden;
}

.recent-img img{
    height: auto;
    max-width: 100%;
}

.profile-img img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.recent-profile-info{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-info h2{
    font-size: 1rem;
    margin-bottom: .3rem;
    color: var(--font-color30per);
}

.profile-info p {
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.50);
}

.politics{
    color: rgba(0, 0, 0, 0.50);
    margin-bottom: .6rem;
}

.blog-details{
    margin-bottom: 0.7rem;
    cursor: pointer;
    font-size: 1.3rem;
}

.blog-details a{
    color: var(--font-color30per);
    transition: all 0.3s ease;
}

.blog-details a:hover{
    color: var(--accent-color);
}

.recent-grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

                                                                            /* CONTACT */

.contact{
    padding-block: 4rem;
}



.contact-grid{
    display: grid;
    grid-template-columns: repeat(1, 40% 1fr);
    flex-wrap: wrap;
}

.contact-icon-container{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 3rem;
}

.contact-icon{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: rgb(255, 245, 226);
    display: flex;
    align-items:center;
    justify-content: center;
    transition: all 0.3s ease;
}

.contact-icon i{
    color: var(--accent-color);
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.contact-info h2{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--font-color30per);
    margin-bottom: .2rem;
}

.contact-info p{
    font-size: .9rem;
}

.contact-icon-container:hover .contact-icon{
    background-color: var(--accent-color);
}

.contact-icon-container:hover .contact-icon i{
    color: var(--font-color);
}

.contact-right-side input {
    height: 45px;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.contact-right-side input:focus {
    border: 1px solid var(--accent-color); 
    outline: none;
}

.user-email-container{
    display: flex;
    flex-direction: column;
}

.user-email-container-header {
    display: flex;
    gap: 1rem;
}

.user-email-container-header input {
    width: 50%;
    font-family: var(--font-family);
}

.contact-right-side input::placeholder,
.contact-right-side textarea::placeholder{
    font-size: .9rem;
    font-family: var(--font-family);
    color: rgba(0, 0, 0, 0.35);
}

.user-email-container textarea{
    height: 150px;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-family: var(--font-family);

}

.user-email-container textarea:focus{
    border: 1px solid var(--accent-color);
    outline: none
}

.contact-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
}

.contact-btn a {
    height: 43px;
    width: 160px;
    background-color: var(--accent-color);
    border: none;
    color: var(--font-color);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

.contact-btn a:hover{
    opacity: .8;
}

                                                                            /* FOOTER */

footer{
    background-color: var(--background-color-30per);
    padding: 4rem 0;
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--font-color);
}

.footer-container h1{
    margin-bottom: 1rem;
    font-size: 2.3rem;
}

.footer-container p{
    font-style: italic;
    font-size: .9rem;
    text-align: center;
}

.footer-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: 2rem 0;
    width: 100%;
    border-bottom: 1px solid rgba(168, 168, 168, 0.2);
    margin-bottom: 1rem;
}

.footer-icon-container div{
    height: 35px;
    width: 35px;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer-icon-container div:hover{
    background-color: #ca5c0e ;
}

.footer-container h3{
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: .5rem;
}

.footer-container h3 span {
    font-weight: 600;
}

.footer-container h4{
    font-size: .8rem;
    font-weight: 400;
}

.footer-container h4 a{
    color: var(--accent-color);
    transition: all 0.3s ease;
}

.footer-container h4 a:hover{
    opacity: .8;
}



/* MEDIA QUERY */

@media (max-width: 1580px) {
    .tes-grid{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1398px) {
    .container{
        max-width: 1150px;
    }
    .services-grid:hover{
        transform: none;
    }

    .hero-swiper-slider p {
        max-width: 600px;
      }
}

@media  (max-width: 1200px) {

    .container{
        max-width: 1000px;
    }

    .featuresbody-img img{
        width: 450px;
    }

    .about-footer-grid{
        flex-direction: column;
    }

    .about-footer-left p {
     margin-bottom: 1rem;
    }

    .about-footer-left{
        text-align: center;
    }

    .about-footer-left h1{
    margin-bottom: 1rem;
    }

    .testimonial-grid-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .testimonial-grid:not(:first-child){
        display: none;
    }

    .pricing-grid-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .recent-grid-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .services-details-container{
        display: grid;
        grid-template-columns: repeat(1, 300px) 1fr;
        gap: 2rem;
    }

    .hero-swiper-slider p {
        max-width: 550px;
      }

    
}

@media(max-width: 1026px){

    .header .container {
        padding: 0 5%;
     }

    .header .menu {
        position: fixed;
        top: 8%;
        bottom: 2%;
        left: 2%;
        right: 50%;
        width: 96%;
        height: 100%;
        border-radius: 10px;
        background-color: var(--background-color);
        z-index: 10;
        transform: translateY(100%);
    }
    
    .header .menu.open{
        transform: none;
    }

    .header .menu a{
        color: var(--nav-dropdown-color);
    }

    .header .close-btn{
        position: absolute;
        top: 0;
    }

    .header .container .close-menu-btn{
        display: inline-flex;
        height: 40px;
        width: 40px;
        background-color: transparent;
        position: relative;
        right: -900px;
        top: -55px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: none;
        cursor: pointer;
    }
    
    .header .container .close-menu-btn::before,
    .header .container .close-menu-btn::after{
        content: '';
        width: 80%;
        height: 2px;
        position: absolute;
        background-color: var(--font-color);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .header .container .close-menu-btn::before{
        transform: rotate(-45deg);
    }

    .header .container .close-menu-btn::after{
        transform: rotate(45deg);
    }

    .header .menu > ul > li {
        display: block;
    }

    .header .menu i {
        color: black;
        right: 24px;
        top: 3px;
        height: 35px;
        width: 35px;
        border-radius: 50px;
        pointer-events: auto;
        background-color: rgb(255, 244, 223);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header .menu .sub-menu a i{
        color: black;
        right: 24px;
        transform: rotate(-90deg);
    }

    .header .menu .dropdown.active a  i {
        transform: rotate(180deg);
        background-color: var(--accent-color);
        color: var(--font-color); 
    }

    .header .menu .sub-menu .dropdown.active a i {
        transform: none;
    }

    .header .menu .sub-menu{
        width: 100%;
        position: static;
        transform: none;
        visibility: visible;
        padding: 0;
        opacity: 1;
        transition: none;
        display: none;
    }

    .header .menu .dropdown.active > .sub-menu{
        display: block;
    }
   
    .header .menu .sub-menu{
        background-color: rgba(33, 37, 41, 0.03);
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 20px;
    }
    
    .header .menu .sub-menu .sub-menu{
        background-color: rgba(33, 37, 41, 0.03);
        border: 1px solid rgba(0, 0, 0, 0.2);
        width: 98%;
        margin: auto;
        padding-bottom: 20px
    }

    .header .menu .sub-menu a{
       padding: 15px 0 0 30px;
    }

    .header .menu .sub-menu .sub-menu a{
        padding-left: 45px
    }

    .header .menu > ul > li > a:hover{
        background-color: initial;
        color: var(--accent-color);
    }

    .burger-menu .open-menu-btn{
        display: inline-flex;
        width: 40px;
        height: 40px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        position: relative;
    }

    .burger-menu .open-menu-btn .line{
        position: absolute;
        width: 80%;
        height: 2px;
        background-color: var(--font-color);
    }

    .burger-menu .open-menu-btn .line-1{
        transform: translateY(8px);
    }

    
    .burger-menu .open-menu-btn .line-3{
        transform: translateY(-8px);
    }

    .burger-menu{
        display: inline-flex;
    }

}

@media  (max-width: 992px) {
    .body-feature-grid{
        flex-direction: column-reverse;
    }

    .featuresbody-img img{
        width: 100%;
    }

    .container{
        max-width: 780px;
    }

    .feater-head-title{
        display: none;
    }

    .services-grid-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .portfolio-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .pricing-grid-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .team-grid-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .services-details-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .header .container .close-menu-btn{
        right: -780px;
    }
    
}

@media(max-width: 767px){
    /* Styles for tablets */

    .container{
        max-width: 600px;
    }

    .hero-logo{
        min-height: 95vh;
    }

    .hero-container{
        max-width: 500px;
        margin: auto;
    }

    .hero-title{
        font-size: 2rem;
    }

    .services-grid-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .portfolio-grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .team-grid-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .recent-grid-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .hero-swiper-slider h1 {
        font-size: 2rem;
      }

      .header .container .close-menu-btn{
        right: -580px;
    }
}

@media(max-width: 480px) {
    /* Styles for phones */
    .card-data{
        padding: 1rem;
    }

    .header .container .close-menu-btn{
        right: -380px;
    }
}